.dashboard {
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  
  .dashboard h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dashboard-block {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 40%;
  }
  
  .dashboard-block h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .dashboard-block ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dashboard-block ul li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .dashboard-block button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .dashboard-block button:hover {
    background-color: #0056b3;
  }
  