.layoutContainer {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full height of the viewport */
  }
  
  .leftSide {
    max-width: 250px; /* Fixed width for navigation */

    
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Light shadow for separation */
    
  }
  
  .rightSide {
    flex: 1; /* Take up the remaining space */
    padding: 20px; /* Padding for inner spacing */
    background-color: #ffffff; /* White background */
    
  }
  /* -----------VIEW PAGE STYLES ------------- */
  /* Container for the section */
section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading style */
.heading_primary {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Form style */
.viewForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Individual form item style */
.formItem {
  display: flex;
  flex-direction: column;
}

.formItem label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
  
}

.formItem input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
}

/* Read-only inputs */
.formItem input[readonly] {
  background-color: #e9ecef;
}

/* Image style */
.profile_Image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Button style */
button {
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: #0056b3;
}
