.callToAction {
  background: var(--gradient);
  color: var(--primaryLight);
  padding: 1rem;
  gap: 1rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 1rem;
  position: relative;
  transition: all .5s linear;
  max-width: 150px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
#about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
.about-card img {
  max-width: 500px;
  border-radius: 50%;
}
.main_paragraph {
  font-size: 1rem;
  font-style: italic;
}
.section-heading {
  display: flex;
  align-items: center;
  margin: 5rem 0;
}
.bouncing-ball {
  max-width: 500px;
  margin: 1rem auto;
}
.section-heading ul {
  display: flex;
  gap: 0rem;
  justify-content: center;
}
.section-heading ul li {
  list-style: none;
  font-size: 1.5rem;
  background: var(--gradient);
  color: var(--primary);
  width: 3rem;
  height: 3rem;
  color: var(--primaryLight);
  display: grid;
  place-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  animation: changeball 1s linear infinite alternate-reverse;
}
@keyframes changeball {
  0% {
    transform: translateY(5px);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.section-paragraph {
  max-width: 500px;
  margin: 1rem auto;
}
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--primaryDarkBoxShadow);
  padding: 1rem;
  gap: 1rem;
}
.service-item-img {
  width: 300px;
  height: auto;
}
.services-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.service-item:nth-child(even) {
  flex-direction: row-reverse;
}
.item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.borderChange {
  color: var(--primaryLight);
  background: var(--gradient);
  display: grid;
  place-items: center;
  font-size: 2rem;
  padding: 1rem;
  animation: border-change 2s linear infinite;
}
@keyframes border-change {
  0% {
    border-radius: 42% 58% 73% 27% / 51% 38% 62% 49%;
  }
  50% {
    border-radius: 22% 38% 53% 7% / 31% 18% 42% 69%;
  }
  100% {
    border-radius: 42% 58% 73% 27% / 51% 38% 62% 49%;
  }
}
.models_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.model-item {
  background: var(--gradient);
  color: var(--primaryLight);
  width: 30vw;
  padding: 1rem;
}
/* Align items differently */
.model-item:nth-child(1) {
  align-self: flex-start;
  /* Align to start */
}
.model-item:nth-child(2) {
  align-self: center;
  /* Align to center */
}
.model-item:nth-child(3) {
  align-self: flex-end;
  /* Align to end */
}
.model-item p {
  color: var(--primaryLight) !important;
}
.userModelIcon {
  color: var(--primaryDark);
  background-color: var(--primaryLight);
  font-size: 2rem;
  padding: 1rem;
}
.model_title {
  text-transform: uppercase;
}
.categoreis_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.category_wrapper {
  cursor: pointer;
  padding: 0.1rem;
}
.dividerSVG svg {
  background-color: var(--primaryLight);
}
.footer {
  background-color: var(--primaryDark);
}
.footer_title {
  color: var(--primaryLight);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primaryLight);
  padding-bottom: 0.5rem;
  max-width: 30vw;
  width: 20vw;
}
.brandTitle {
  color: var(--primaryLight);
}
.brandParagraph {
  color: Var(--primaryLight);
  font-style: italic;
}
.footerItems {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
.footerItems img {
  max-width: 25vw;
  filter: invert(1);
}
.categoryItem {
  color: var(--primaryLight);
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact div {
  display: flex;
  gap: 1rem;
}
.contact span {
  color: var(--primaryLight) !important;
}
.footerIcon {
  color: var(--primaryLight);
  background-color: var(--primaryDark);
}
.social {
  margin-top: 1rem;
}
.social ul {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.social ul li svg {
  color: var(--primaryLight);
  border: 1px solid var(--primaryLight);
  border-radius: 50%;
  font-size: 1rem;
  padding: 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.social ul .linkedin :hover {
  background-color: #0077b5;
}
.social ul .twitter :hover {
  background-color: #1da1f2;
}
.social ul .youtube :hover {
  background-color: #ff0000;
}
.social ul .facebook :hover {
  background-color: #3b5998;
}
@media (max-width: 900px) {
  .footerItems {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 1200px) {
  #about-section {
    flex-direction: column;
  }
  .service-item,
  .service-item:nth-child(even) {
    flex-direction: column;
  }
  .model-item {
    align-self: flex-start !important;
    min-width: 90vw;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
@media (max-width: 500px) {
  #about-section img {
    max-width: 80vw;
  }
  .section-heading ul li {
    width: 2.5rem;
    height: 2.5rem;
  }
  .callToAction {
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    max-width: 150px;
  }
  .main_paragraph {
    font-size: 1.5rem;
  }
  .model-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw !important;
  }
}