:root {
  --primary: #b3405b;
  --secondary: #333333;
}
:root {
  --primary: #b3405b;
  --secondary: #948cbc;
}

/* Primary Button */
.primary_button {
  background-color: var(--primary);
  color: #ffffff;
  border: 2px solid var(--primary);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary_button:hover {
  background-color: #ffffff;
  color: var(--primary);
}

/* Secondary Button */
.secondary_button {
  background-color: var(--secondary);
  color: #ffffff;
  border: 2px solid var(--secondary);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.secondary_button:hover {
  background-color: #ffffff;
  color: var(--secondary);
}

/* Content Wrapper */
.content_wrapper {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Paragraph */
p {
  color: var(--secondary);
  line-height: 1.6;
}

/* Anchor */
a {
  color: var(--primary);
  text-decoration: none;
}

/* Span */


/* Form Input */
.form_input {
  margin-bottom: 15px;
}

.form_input label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary); /* Label color */
}

.form_input input[type="text"],
.form_input input[type="email"],
.form_input textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_input input[type="text"]:focus,
.form_input input[type="email"]:focus,
.form_input textarea:focus {
  outline: none;
  border-color: var(--primary); /* Border color on focus */
}
.primary_heading{
color:var(--primary);
font-size: 2rem;
}
.secondary_heading{
  color:var(--secondary);
  font-size: 1.5rem;

}
.flex_items{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  
}
ul li{
  list-style: none;
}
.login_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.active_step{
  background-color: red;
}

