.categoreis_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.category_wrapper {

    cursor: pointer;

    padding: 0.1rem;
}

.footerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dividerSVG svg {
    background-color: var(--primaryLight);
}

.footer {
    background-color: var(--primaryDark);
}

.footer_title {
    color: var(--primaryLight);
    font-size: 1.5rem;

    font-weight: bold;

    text-transform: uppercase;

    letter-spacing: 0.1rem;

    margin-bottom: 1rem;

    border-bottom: 2px solid var(--primaryLight);

    padding-bottom: 0.5rem;

    text-align: center;

}


.footerItems img {
    max-width: 25vw;
    filter: invert(1);
}

.categoryItem {
    color: var(--primaryLight);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact div {
    display: flex;
    gap: 1rem;
}

.contact span {
    color: var(--primaryLight) !important;
}

.footerIcon {
    color: var(--primaryLight);
    background-color: var(--primaryDark);
}

.social {
    margin-top: 1rem;
}

.social ul {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.social ul li svg {
    color: var(--primaryLight);
    border: 1px solid var(--primaryLight);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}



.social ul .linkedin :hover {
    background-color: #0077b5;

}

.social ul .twitter :hover {
    background-color: #1da1f2;

}

.social ul .youtube :hover {
    background-color: #ff0000;

}

.social ul .facebook :hover {
    background-color: #3b5998;

}