.dashboardContainer {
  width: 90vw;
  margin: 0 auto;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}
.categorychartContainer {
  max-height: 500px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  margin-left: -3rem;
}
.priorityBlock {
  height: 400px;
}
.statusBlocks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.totalBlock {
  border-left: 4px solid #4caf50;
}
.activeBlock {
  border-left: 4px solid #2196f3;
}
.blockData {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: var(--primaryDark);
}
.blockData .fa-circle-up {
  color: #4caf50;
}
.blockData .fa-circle-down {
  color: #2196f3;
}
.dashboard_main_block {
  box-shadow: var(--primaryDarkBoxShadow);
  min-width: 320px;
  padding: 1rem;
  min-height: 200px;
  width: 100%;
}
.secondary_block {
  width: 42%;
  box-shadow: var(--primaryDarkBoxShadow);
  padding: 1rem;
  min-height: 200px;
}
.statusBlocks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.block {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  flex: 1;
}
.totalBlock {
  border-left: 4px solid #2196f3;
}
.activeBlock {
  border-left: 4px solid#4CAF50;
}
.blockData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--primaryDark);
}
.blockData .fa-circle-up {
  color: #4caf50;
}
.blockData .fa-circle-down {
  color: rgb(224, 113, 113);
}
.materialsManagementBlock {
  padding-bottom: 1rem;
  border-bottom: 1px dotted var(--primaryDark);
}
.ordersManagementBlock {
  padding-top: 1rem;
}
.profileViewWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
}
.viewProfileTable {
  max-width: 600px;
}
.viewProfileTable table {
  margin-bottom: 3rem;
  width: 100%;
  border-collapse: collapse;
}
.viewProfileTable tbody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  min-width: 100px;
  flex-wrap: wrap;
}
.viewProfileTable tr {
  border-left: 2px solid var(--primaryDark);
  display: inline-block;
  box-shadow: var(--primaryDarkBoxShadow);
  min-width: 300px;
}
.viewProfileTable th,
.viewProfileTable td {
  padding: 6px;
  color: var(--primaryDark);
}
.viewProfileTable td {
  text-align: right;
}
@media(max-width:800px) {
  .secondary_block {
    min-width: 80vw;
  }
}
@media(max-width:1000px) {
  .secondary_block {
    min-width: 80vw;
  }
}
@media (max-width: 400px) {
  .dashboard_main_block {
    min-width: 250px;
  }
  .statusBlocks {
    flex-direction: column;
  }
}