.technicianFeatures {
    gap: 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card {
    padding-left: 1rem;
    border-left: 1px solid var(--primaryDark);
    position: relative;
}
.card::before {
    position: absolute;
    content: '';
    background: var(--primaryDark);
    width: 0.5rem;
    height: 0.5rem;
    top: -0.5rem;
    left: -0.25rem;
    opacity: 1;
    transition: all 0.3s ease;
}
.card:hover::before {
    width: 0.8rem;
    height: 0.8rem;
    left: -0.4rem;
}
.card .title {
    font-weight: bold;
    transition: all 0.3s ease;
}
.card .desc {
    transition: all 0.3s ease;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}
.desc span {
    box-shadow: var(--primaryDarkBoxShadow);
    padding: 0.2rem;
    border-radius: 0.1rem;
    cursor: pointer;
}