.image_preview {
  margin-top: 20px;
  text-align: center;
}

/* Image preview styling */
.image_preview img {
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.stepInputs_Wrapper {
  display: flex;
  flex-direction: column;
 
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  padding: 20px;
  margin: 0 auto; /* Center the box horizontally */
  border: 2px solid #ccc; /* Border color and thickness */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a 3D effect */
  background-color: #fff; /* Background color */
}
.steps{
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
}
.steps h1{
  
  font-size: 1rem;
  padding: 1rem;
}
.active_step{
  background-color:var(--primary);
}
.normal_step{
  background-color: var(--secondary);
}
.customer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #ccc;
}

.logo_area {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}

.navigation_area ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation_area li {
  cursor: pointer;
  font-weight: bold;
  color: #007bff;
}

.navigation_area li:hover {
  text-decoration: underline;
}
.Header_wrapper{
  justify-content: space-between;
}
/* Customer Dashboard CSS */
/* Container for the whole layout */


/* Styles for the left sidebar */
.leftSideBar {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftSideBar .Customer_Profile {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftSideBar .Customer_Profile h1 {
  font-size: 24px;
  margin: 0;
}





