
.layoutContainer {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  align-items: flex-start;
  gap:20px;

}

.leftSide {
  max-width: 250px; /* Fixed width for navigation */
  box-shadow: var(--primaryLightBoxShadow); /* Light shadow for separation */
  padding: 20px;
}

.rightSide {
  flex: 1; /* Take up the remaining space */
  padding: 20px; /* Padding for inner spacing */
  background-color: transparent;
  box-shadow: var(--primaryLightBoxShadow);
  height: 100%;
}

.viewForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Dashboard Styles */
.dashboard {
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.dashboard-block {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--primaryLightBoxShadow);
  margin-bottom: 20px;
  width: 40%;
}

/* Navigation Styles */
.dashboardNavigation {
  width: 100%;
  background-color: transparent;
}

.dashboardNavigation li a {
  text-decoration: none;
  color: var(--primaryDark);
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dashboardNavigation li a:hover {
  background-color: transparent;
}

.dashboardNavigation li.active a {
  background-color: var(--primaryDark);
  color: var(--primaryLight);
}

.dashboardNavigation li.active a:hover {
  background-color: var(--primaryDark);
}

.dashboardNavigation li:hover {
  cursor: pointer;
  background-color: var(--primaryDark);
  color:var(--primaryLight);
  border-radius: 5px;
  transition: background-color 0.3s;
}
.dashboardNavigation li:hover a{
  color:var(--primaryLight);
}

.change_theme {
  justify-content: flex-start;
}
.stepInputs_Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  padding: 20px;
  margin: 0 auto; /* Center the box horizontally */
  border: 2px solid #ccc; /* Border color and thickness */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a 3D effect */
  background-color: transparent;
}

.steps {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.Customer_Header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;

}
.Customer_Header_wrapper a{
  color:var(--primaryDark);
}
.lightModeBox{
  width: 2rem;
  height: 2rem;
  background-color: var(--primaryLight);
  box-shadow: var(--primaryDarkBoxShadow);
  border-radius: 10px;
}

.darkModeBox{
  width: 2rem;
  height: 2rem;
  background-color: var(--primaryDark);
  box-shadow: var(--primaryLightBoxShadow);
  border-radius: 10px;
}
.profile_image{
  width: 10rem;
  height: 10rem;
  background-color: var(--primaryDark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_image img{
  width: 10rem;
  height: 10rem;
}
