.layoutContainer {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  height: 100%;
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
}
#leftSide {
  position: relative;
  max-width: 350px;
  width: 300px;
  min-width: 300px;
  box-shadow: var(--primaryLightBoxShadow);
  padding: 20px;
  transform: translateX(calc(-300px - 5vw));
  transition: 0.5s linear all;
}
#leftSide.showSideBar {
  transform: translateX(0);
}
.hideSideBar {
  transform: translateX(-300px);
}
.responsiveDashboardIcon {
  position: fixed;
  top: 50%;
  left: 100%;
  background-color: var(--primaryDark);
  color: var(--primaryLight);
  font-size: 2rem;
  padding: 0.1rem;
  z-index: -111;
  cursor: pointer;
}
#rightSide {
  padding: 20px;
  box-shadow: var(--primaryLightBoxShadow);
  height: 100%;
  transition: 0.5s linear all;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
#rightSide.expandRightSide {
  margin-left: -300px;
}
.viewForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.logoutButton {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #f00;
  /* Example background color */
  color: #fff;
  /* Example text color */
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.logoutButton:hover {
  background-color: #d00;
}
.dashboardNavigation {
  width: 100%;
  background-color: transparent;
}
.dashboardNavigation ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboardNavigation li a {
  text-decoration: none;
  color: var(--primaryDark);
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.dashboardNavigation li a:hover {
  background-color: transparent;
}
.dashboardNavigation li.active a {
  background-color: var(--primaryDark);
  color: var(--primaryLight);
}
.dashboardNavigation li.active a:hover {
  background-color: var(--primaryDark);
}
.dashboardNavigation li:hover {
  cursor: pointer;
  background-color: var(--primaryDark);
  color: var(--primaryLight);
  border-radius: 5px;
  transition: background-color 0.3s;
}
.dashboardNavigation li:hover a {
  color: var(--primaryLight);
}
.change_theme {
  justify-content: flex-start;
}
.stepInputs_Wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: var(--primaryDarkBoxShadow);
}
.steps {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.Customer_Header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}
.Customer_Header_wrapper a {
  color: var(--primaryDark);
}
.lightModeBox {
  width: 2rem;
  height: 2rem;
  background-color: var(--primaryLight);
  box-shadow: var(--primaryDarkBoxShadow);
  border-radius: 10px;
}
.darkModeBox {
  width: 2rem;
  height: 2rem;
  background-color: var(--primaryDark);
  box-shadow: var(--primaryLightBoxShadow);
  border-radius: 10px;
}
.dashboardNavigation .logo {
  width: 20rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.create_Notification_container {
  min-width: 300px;
  width: 500px;
  max-width: 600px;
}
.notification_table_container {
  overflow-x: scroll;
}
.notification-table {
  width: 100%;
}
@media (max-width:500px) {
  .stepInputs_Wrapper {
    width: 300px;
    padding: 10px;
  }
}