.darkMode {
    background-color: var(--primaryDark);
    color: var(--primaryLight);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    height: 100%;
  }
  .darkMode .layoutContainer{
    background-color: var(--primaryDark);
  }
  .darkMode ul, li, a{
    color:var(--primaryLight);
  }
  .darkMode .logo{
    filter: invert(1) brightness(100) saturate(0) hue-rotate(0deg);
  }
  .darkMode .dashboardNavigation li a{
    color:var(--primaryLight)
  }
  .darkMode .Customer_Header_wrapper a{
    color:var(--primaryLight);
  }
  .darkMode input{
    background-color: var(--primaryDark) !important;
    color: var(--primaryLight) !important;
    border: 1px solid var(--primaryLight) !important;
  
  }
  .darkMode label{
    color:var(--primaryLight);
  }
  .darkMode .dashboardNavigation li:hover a{
    background-color: var(--primaryLight);
    color: var(--primaryDark);
  }
  .darkMode.dashboardNavigation li.active a {
    background-color: var(--primaryLight);
    color: var(--primaryDark);
  }
  .darkMode .primary_heading, .darkMode .secondary_heading{
    color: var(--primaryLight) !important;
    
  }
  .darkMode .button, button{
    background-color: var(--primaryLight);
    color:var(--primaryDark)
  }
  .darkMode .button:hover,button:hover{
    background-color: var(--primaryDark);
    color:var(--primaryLight);
    border:1px solid var(--primaryLight);
  }
  .darkMode textarea, select{
    background-color: var(--primaryDark);
    border: 1px solid var(--primaryLight);
    color: var(--primaryLight);
  }
  .darkMode textarea:focus{
    border: 1px solid var(--primaryLight);
  }
  .darkMode option{
    background-color: var(--primaryDark);
    color: var(--primaryLight);
  }
  .darkMode option:hover{
    background-color: var(--primaryLight);
  }
  .darkMode.select:focus {
    outline: 1px solid var(--primaryLight); /* Removes focus outline */
    
  }
  .darkMode li{
    color: var(--primaryLight);
  }